.profileImg {
  border-radius: 100%;
  z-index: 99;
  margin-left: -80px;
}
.mainProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  max-width: 800px;
  min-width: 800px;
}
.profileDetails {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 100px;
}
.photosDetails {
  display: flex;
}
.links {
  display: flex;
  font-size: 50px;
  margin-top: 40px;
}
.profileSection {
  z-index: 9999 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 18px;
}

.followBTN {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999 !important;
  background: #fff;
  background-color: #fff;
  color: #000;
  height: 45px;
  width: 250px;
  margin-bottom: 100px;
  border-radius: 10px;
  font-weight: 500;
  margin-left: 100px;
}
.followBTN1{
  background: #000;
  background-color: #000;
  color: #fff;
}

.backName {
  position: absolute;
  transform: rotate(-3deg);
  margin-left: -550px;
  margin-top: 100px;
}

.username {
  font-weight: 500;
  margin-bottom: 20px;
}
.stats {
  margin-right: 20px;
}
.BackgroundName1{
    position: relative;
    top: 190px;
    left: -800px;
    transform: rotate(-1.5deg);
}
.name {
  margin-top: 15px;
}
.location {
  font-size: 16px;
  color: #c7c7c7;
}
.location1{
  color: #7d7d7d;
}
.bio {
  font-size: 16px;
  margin-top: 20px;
}
.links1 {
  margin-right: 30px;
}
.followValues {
  display: flex;
  margin-left: 100px;
  justify-content: center;
  justify-content: space-around;
  margin-top: -80px;
}
.link3{
  color: #000 !important;
}
@media screen and (max-width: 1400px){

  .profileImg{
    margin-left: 10px;
  }
}
@media screen and (max-width: 1200px){

  .profileImg{
    margin-right: -50px;
  }
  .flowBTNmain{
    position: absolute;
    margin-top: 450px;
  }
  
}
@media screen and (max-width: 800px){
  .mainProfile{
    font-size: 14px;
  }
  .location {
    font-size: 14px;
    color: #c7c7c7;
  }
  .bio {
    font-size: 14px;
    margin-top: 20px;
    max-width: 400px;
  }
  .links{
    font-size: 30px;
  }
}
@media screen and (max-width: 700px){
  .mainProfile{
    font-size: 12px;
  }
  .location {
    font-size: 12px;
    color: #c7c7c7;
  }
  .bio {
    font-size: 12px;
    margin-top: 20px;
    max-width: 300px;
  }
  .links{
    font-size: 30px;
    margin-top: 20px;
  }
  .links1 {
    margin-right: 10px;
  }
  .followBTN {
    height: 40px;
    width: 250px;
    margin-bottom: 200px;
    border-radius: 10px;
    font-weight: 500;
    margin-left:150px;
  }
  .flowBTNmain{
    font-size: 14px;
  }
  .followValues{
    position: relative;
    top: -100px;
    left: 25px;

  }
  .profileImg{
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 480px){
    .profileImg{
        width: 60px;
        height: 60px;
        position: relative;
        left: 30px;
      }
    .bio {
        font-size: 12px;
        margin-top: 20px;
        max-width: 200px;
      }
      .flowBTNmain{
        margin-left: -150px;
      }
}