.profileImg{
    border-radius: 100%;
    z-index: 99;
}
.mainProfile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileDetails{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.photosDetails{
    display: flex;
}
.links{
    display: flex;
}