.container{
    position: relative;
    background-image: linear-gradient(#272C38, #373E51);
    width: 450px;
    height: 550px;
    border-radius: 10px;
    margin-top: 30px;
}

.imageMain{
    border-radius: 10px;
}

.profileImage{
    border-radius: 50%;
    margin-left: 50px;
}

.userProfileMain{
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.profileImageUser{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
}
.location{
    font-size: 14px; 
    color: #cacaca;
}
.date{
    position: absolute;
    font-size: 14px; 
    color: #cacaca;
    right: 50px;
    top: 50px;
}
.myLink{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.backName{
    display: flex;
    position: absolute;
    font-size: 60px;
    font-family: "Light";
    min-width: max-content;
    left: -50px;
    opacity: 20%;
    color: #F2F2F2;
    pointer-events: none;
}
.backName1{
    padding: 10px;
}

.BackgroundName1{
    position: relative;
    top: 180px;
    left: -800px;
    transform: rotate(-1.5deg);
}
.BackgroundName2{
    position: relative;
    top: 380px;
    left: -800px;
    transform: rotate(-1.5deg);
}