.MainScroll{
    display: flex;
    position: absolute;
    font-family: "Light";
    font-size: 60px;
    max-height: 50px !important;
    transform: rotate(-1deg);
}
.scroll div{
    display: flex;
    animation: animate 40s linear infinite;
    animation-delay: -30s;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.scroll span{
    min-width: max-content;
    padding: 5px;
}


@keyframes animate{
    0%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(-100%);
    }
}
@keyframes animate2{
    0%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(-200%);
    }
}