.container{
    position: relative;
    background-image: linear-gradient(#272C38, #373E51);
    width: 450px;
    height: 590px;
    border-radius: 10px;
    margin-top: 30px;
}

.imageMain{
    border-radius: 10px;
}

.profileImage{
    border-radius: 50%;
    margin-left: 50px;
}

.userProfileMain{
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.profileImageUser{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
}
.location{
    font-size: 14px; 
    color: #cacaca;
}
.date{
    position: absolute;
    font-size: 14px; 
    color: #cacaca;
    right: 50px;
    top: 50px;
}
.myLink{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.backName{
    display: flex;
    position: absolute;
    font-size: 60px;
    font-family: "Light";
    min-width: max-content;
    left: -50px;
    opacity: 5%;
    color: #F2F2F2;
    pointer-events: none;
}
.backName1{
    padding: 10px;
}

.BackgroundName1{
    position: relative;
    top: 180px;
    left: -800px;
    transform: rotate(-1.5deg);
}
.BackgroundName2{
    position: relative;
    top: 380px;
    left: -800px;
    transform: rotate(-1.5deg);
}
.viewProfileBTN{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -180px;
    bottom: 350px;
    background: #fff;
    color: #000;
    width: 100px;
    height: 100px;
    z-index: 999;
    border-radius: 50%;
    font-family: "Light";
    transform: rotate(-10deg);
    cursor: pointer;
}
.likesBTN{
    display: flex;
    margin-left: 50px;
    font-size: 18px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}
.like{
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.dis{
    text-align: left;
    margin-top: 5px;
    margin-left: 55px;
    color: #00FFC4;
    max-width: 350px;
}

@media screen and (max-width: 1200px){
    .container{
        position: relative;
        background-image: linear-gradient(#272C38, #373E51);
        width: 400px;
        height: 550px;
        border-radius: 10px;
        margin-top: 30px;
    }
    .profileImage{
        width: 40px;
        height: 40px;
    }
    .imageMain{
        width: 320px;
        height: 350px;
    }
    .viewProfileBTN{
        left: -120px;
    }
    
}
@media screen and (max-width: 650px){
    .container{
        position: relative;
        background-image: linear-gradient(#272C38, #373E51);
        width: 300px;
        height: 450px;
        border-radius: 10px;
        margin-top: 30px;
    }
    .profileImage{
        width: 40px;
        height: 40px;
    }
    .imageMain{
        width: 260px;
        height: 300px;
    }
    .viewProfileBTN{
        left: 210px;
        top: 480px;
    }
    .likesBTN{
        font-size: 14px;
        margin-left: 15px;
        margin-top: -1px;
    }
    .dis{
        font-size: 14px;
        margin-left: 20px;
        margin-top: -1px;
        max-width: 260px;
    }
    .backName{
        font-size: 40px;
    }
    .BackgroundName2{
        top: 300px;
    }
}