.mainPhotos{
    margin-bottom: 20px;
    z-index: 999;
}

.block{
    display: flex;
    width: 280px;
    height: 80px;
    margin-left: 7px;
    margin-top: -7px;
    background: #000;
    text-align: left;
    padding: 15px;
}