.mainPhotos{
    margin-bottom: 20px;
    z-index: 9999 !important;
}

.block{
    display: flex;
    width: 280px;
    height: 80px;
    margin-left: 7px;
    margin-top: -7px;
    background: #000;
    text-align: left;
    padding: 15px;
}

.modal{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 600px;
    top: 100px;
    right: 15%;
    background: #000;
    z-index: 99999;
    border-radius: 10px;
}
.cross{
    cursor: pointer;
    position: absolute;
    right: 50px;
    font-size: 50px;
    top: 30px;
}