.mainPhotos {
  margin-bottom: 20px;
  z-index: 9999 !important;
}

.block {
  display: flex;
  width: 280px;
  height: 80px;
  margin-left: 7px;
  margin-top: -7px;
  background: #000;
  text-align: left;
  padding: 15px;
}
.cross1{
  color: #fff;
}
.block1{
  color: #fff;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 650px;
  top: 100px;
  right: 15%;
  background: #000;
  z-index: 99999;
  border-radius: 10px;
}
.cross {
  cursor: pointer;
  position: absolute;
  right: 50px;
  font-size: 50px;
  top: 30px;
}
@media screen and (max-width: 1200px) {
  .modal {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 800px;
    height: 650px;
    top: 30px;
    right: 15%;
    background: #000;
    z-index: 99999;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .mainImage {
    width: 200px;
    height: 250px;
  }
  .block {
    display: flex;
    width: 200px;
    height: 80px;
    margin-left: 1px;
    margin-top: -5px;
    background: #000;
    text-align: left;
    padding: 15px;
  }
  .modal {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 600px;
    height: 650px;
    top: 30px;
    right: 15%;
    background: #000;
    z-index: 99999;
    border-radius: 10px;
  }
  .cross {
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 10px;
  }
}
@media screen and (max-width: 700px) {
  .mainImage {
    width: 150px;
    height: 200px;
  }
  .block {
    display: flex;
    width: 150px;
    height: 80px;
    margin-left: 1px;
    margin-top: -5px;
    background: #000;
    text-align: left;
    padding: 15px;
    font-size: 11px;
  }
  .modal {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 650px;
    top: 30px;
    right: 15%;
    background: #000;
    z-index: 99999;
    border-radius: 10px;
  }
  .cross {
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 10px;
  }
}
@media screen and (max-width: 650px) {
  .modal {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 450px;
    height: 500px;
    top: 30px;
    right: 15%;
    background: #000;
    z-index: 99999;
    border-radius: 10px;
  }
  .cross {
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 10px;
  }
}

@media screen and (max-width: 480px){
  .modal {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 350px;
    height: 500px;
    top: 30px;
    right: 5%;
    background: #000;
    z-index: 99999;
    border-radius: 10px;
  }
  .cross {
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 10px;
  }
}
