* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("Druk Wide Bold"), url("../Font.ttf") format("truetype");
}
footer{
  margin-top: auto;
}

.light{
  background-image: linear-gradient(#ffffff, #f5f5f5, #ffffff);
  color: #000;
}
.dark{
  background-image: linear-gradient(#14171F, #0C2640, #14171F);
  color: #f0f0f0;
}

.theme{
  transition: 1s all ease;
}
a{
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.underline{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 1.2px;
  width: 1200px;
  background: #bfbfbf;
  margin-top: 30px;
}
.gridContainer{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.gridList{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
}
.verticalLine{
  height: 30px;
  width: 1.5px;
  background: #bcbcbc;
  margin-left: 10px;
  margin-right: 10px;
}
.BsGrid{
  cursor: pointer;
}
.listMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1280px){
  .gridContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }
}

@media screen and (max-width: 650px){
  .gridContainer{
    display: grid;
    grid-template-columns: auto auto;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }
}
