* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#14171F, #0C2640, #14171F);
  color: #f0f0f0;
}
footer{
  margin-top: auto;
}