.logoMain{
    font-weight: 350;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.midTagLine{
    margin-left: 400px;
    margin-right: 400px;
    color: #00FFC4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.endTagLine{
    text-align: left;
    color: #00FFC4;
}
.mainLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.myLink{
    color: white;
    background-color: transparent;
    text-decoration: none;
}